# Archivos del sistema
.DS_Store
Thumbs.db

# Editores
.vscode/
.idea/

# Archivos temporales
*.log
*.tmp

# Archivos de configuración local
.env
.env.*

# Dependencias si usas Node
node_modules/

# Archivos generados
dist/
build/

# Sistema operativo
desktop.ini